[2018-08-21 00:39] ronaldtse opened #1 "Provide IEV as a document layout type"
IEV documents (IEC 60050-x) uses a special bilingual layout provided here. So they are IEC Standards but use a different layout.

http://www.iec.ch/standardsdev/resources/draftingpublications/writing_formatting/IEC_template/iev_standard_template.htm

[2018-08-21 01:07] opoudjis commented on #1
... Why would we provide Metanorma encoding of IEV, when they are already publishing online as https://opendata.iec.ch/#/, in a far more appropriate format for IEV?

[2018-08-21 02:02] ronaldtse commented on #1
Because IEV is the published content of IEC 60050, they still need to publish the paid standard (which consists of the same content published on the IEV website/OpenData). We'll see what their reply is.

[2018-08-21 02:03] ronaldtse opened #2 "Provide IEC document types and layout"
IEC template:
http://www.iec.ch/standardsdev/resources/draftingpublications/writing_formatting/IEC_template/iec_template.htm

[2019-03-07 09:47] opoudjis opened #3 "Migrate this repository to github.com/metanorma"
The repository github.com/metanorma has been set up to host all Metanorma related work. This is one such piece of work. While the migration will be slow (there is a lot to do, and a lot of interdependencies), we need to schedule migration for all related repositories.

Migration to Metanorma:

* Repost the repository to http://github.com/metanorma/X
  * This should be as simple as changing the fol

[2019-03-11 06:15] #3 closed

[2019-05-27 05:00] ronaldtse commented on #2
Ping @opoudjis , the Word template, guidance, and boilerplate text are provided in the supplied link.

[2019-07-24 21:44] #2 closed

[2019-08-08 06:27] opoudjis opened #4 "Review IEC Classification Scheme and Use Cases doc."
I don't know what I'm reviewing this for.

[2019-08-09 11:12] #4 closed

[2019-08-27 00:00] ronaldtse opened #5 "IEC stage codes should follow official list"
https://www.iec.ch/standardsdev/resources/processes/stage_codes.htm

[code]

[2019-08-30 11:17] opoudjis commented on #5
We are driving this from the internatinal harmonised codes at https://www.iso.org/stage-codes.html. Currently we have only mapped stage. Most of these involve stage and substage.

The translations require modelling of this being a translation of another standard. That can be modelled in `bibdata/relation[@type = 'translationOf']/bibitem/docidentifier`, which will be introduced by adding a `:transl

[2019-08-30 11:25] ronaldtse commented on #5
@opoudjis are you suggesting to create a translation mechanism for document stages between document flavors?

[2019-08-30 11:31] opoudjis commented on #5
Mapping to ISO harmonised codes is in Annex SH of https://www.iec.ch/members_experts/refdocs/iec/isoiecdir-1-iecsup%7Bed12.0%7Den.pdf

[2019-08-30 11:32] opoudjis commented on #5
Which means translation is already provided by IEC; we will use those numbers as we do in ISO gem for data entry, and map to the stage code in isodoc for rendering.

[2019-08-30 13:52] opoudjis commented on #5
Stage Code | Code | Defn | Doctypes | Note |
| ---- | ---- | ---- | ---- | ---- |
3520 | 2CD .. 9CD | Circulation for comment | | NOT IN IEC WEBSITE
2099 | ACD | Approved for CD | IS, TS, TR | | NOT IN ANNEX SH, inferred
3099 | A2CD | Register for next applicable phase | | NOT IN IEC WEBSITE
3592 | A3CD ... A9CD | Return to drafting phase | | NOT IN IEC WEBSITE
3599 | ACDV | Approved for CDV | IS,

[2019-08-31 03:37] opoudjis commented on #5
The final foregoing table is what I'm going to implement.

[2019-08-31 09:46] ronaldtse commented on #5
This link is Edition 15 for 2019: https://www.iec.ch/members_experts/refdocs/iec/isoiecdir1-consolidatediecsup%7Bed15.0.RLV%7Den.pdf

[2019-08-31 16:36] #5 closed

[2019-09-02 10:18] ronaldtse opened #6 "Remove front page from Word layout"
IEC working documents do not have a "front page", they are added by the IEC editors.

This issue is to remove the front page, MN-IEC Word document should start with the ToC.

NOTE: This was reported by an IEC person.

[2019-09-02 10:59] opoudjis commented on #6
...

That is not welcome news.

[2019-09-02 11:38] opoudjis commented on #6
IEC working documents: does that mean that we can leave the "front page" alone if it is a published status document? Given that we have never been provided the cover page in Word, I guess the answer is no.

[2019-09-02 13:16] #6 closed

[2019-09-02 23:26] ronaldtse commented on #6
@opoudjis if the document is published, it should be fine to add the front page — except we have not been given the front page in Word.

[2019-09-04 02:22] opoudjis commented on #6
If we ever get it, I will update the gem. Right now, it is universally suppressed.

[2019-09-04 02:44] ronaldtse commented on #6
In fact, it would be even better to use a document attribute to un-suppress the cover page. This way we will get requests to “update the cover page layout” instead of “implementing the cover page”.

[2019-09-04 02:44] ronaldtse commented on #6
It’s just an additional “if” statement.

[2019-09-17 17:25] ronaldtse opened #7 "IEC terms and definitions boilerplate is slightly different!"
I was pointed to this by the IEC terminology coordinator:

https://www.iec.ch/standardsdev/resources/draftingpublications/directives/subdivision/terms_definitions.htm

![image](https://user-images.githubusercontent.com/11865/65064498-2e429680-d9b3-11e9-91db-335386f6bd8d.png)

See the difference? "IEC Electropedia" goes FIRST in IEC documents.

[2019-09-17 18:06] ronaldtse commented on #7
IEC templates also indicate that IEC goes first.

<img width="468" alt="Screen Shot 2019-09-18 at 2 06 04 AM" src="https://user-images.githubusercontent.com/11865/65067346-df97fb00-d9b8-11e9-96c5-9656bc244675.png">

[2019-09-18 11:29] opoudjis commented on #7
Oh FFS.

[2019-09-18 11:34] #7 closed

[2019-09-18 14:19] ronaldtse commented on #7
Namaste.

[2019-10-02 04:45] ronaldtse opened #9 "Move to GitHub Actions"

[2019-10-06 00:55] ronaldtse commented on #9
This is done.

[2019-10-06 00:55] #9 closed

[2019-10-30 08:08] opoudjis opened #14 "Draft warning has ISO language"
HTML output

[2019-10-30 08:12] opoudjis commented on #14
Reworded to:

[code]

[2019-10-30 08:13] #14 closed

[2019-11-03 16:12] ronaldtse commented on #14
@opoudjis does this align fully with the IEC template?

[2019-11-06 17:04] opoudjis commented on #14
It has nothing whatsoever to do with the IEC template, since the IEC does not provide a coverpage for Word, and does not specify HTML. It is from ISO HTML, with the language updated.

[2019-11-07 05:56] ronaldtse commented on #14
Indeed.

[2019-11-28 01:55] opoudjis opened #15 "Add edition string to document identifier"
e.g. "ED 1" for first edition. Need to know if this is mandatory or not, @ronaldtse, before proceeding.

[2019-11-28 04:22] ronaldtse commented on #15
@opoudjis this is likely not "mandatory" but from what I've seen is current best practice, even for ED1 (i.e non-revisions). We should automatically generate this. Thanks!

[2019-12-16 06:24] ronaldtse opened #16 "Terms and definition “domain” specifier not being rendered"
According to https://github.com/metanorma/mn-native-pdf/issues/44 the Word output is not rendering the domain identifier.

[2019-12-28 14:33] ronaldtse opened #17 "XML element should be `iec-standard`"
Right now all IEC documents show as:

[code]

This is blocking https://github.com/metanorma/mn-native-pdf/pull/16 .

[2019-12-30 09:13] opoudjis commented on #16
isodoc implementation is assuming that domain has been seen in XML before the definition paragraph.  That is not the case in the sample document; will resolve in postprocessing XML

[2019-12-30 09:14] #16 closed

[2019-12-30 09:21] opoudjis commented on #17
I don't think this is a bug at all, since ISO and IEC expressly use the same grammar. In fact, I think differentiating them is counterproductive.

Fixing anyway. Yelling at stupid syntax changes for the sake of it suppressed.

[2019-12-30 09:28] opoudjis commented on #17
Added stupidity: it's the same goddamn grammar, but I have to manufacture a completely different grammar artefact now, because of a quite arbitrary looking XSLT navigation requirement.

This kind of busywork is not welcome.

[2019-12-30 09:35] opoudjis commented on #17
New grammar created.

[2019-12-30 09:37] #17 closed

[2019-12-30 10:31] ronaldtse commented on #16
In case it wasn’t clear, this issue only occurred in IEC, not ISO.

[2019-12-30 10:48] opoudjis commented on #16
Yes, but it was an artefact of where domain happened to occur in the document.

[2019-12-30 10:52] ronaldtse commented on #16
Great, just wanted to be sure there weren’t any conflicts.

[2020-01-05 10:21] ronaldtse commented on #17
Thanks @opoudjis !

[2020-01-20 22:14] opoudjis opened #18 "Boilerplate and copyright text should be in MN XML"
@Intelligent2013 You will depend on this for PDF output

[2020-01-30 10:56] #18 closed

[2020-02-04 03:31] opoudjis opened #20 "Refactor HTML CSS stylesheet"
https://github.com/metanorma/isodoc/issues/112

[2020-02-04 03:33] opoudjis opened #21 "Refactor style-human HTML CSS stylesheet"
https://github.com/metanorma/isodoc/issues/112

[2020-02-04 03:34] opoudjis opened #22 "Refactor style-iso HTML CSS stylesheet"
https://github.com/metanorma/isodoc/issues/112

[2020-02-08 09:04] opoudjis opened #25 "Grammar namespace not being recognised"
In the aftermath of https://github.com/metanorma/metanorma-iso/issues/307, the namespace on the root node is not being recognised. No idea why.

[2020-02-10 01:26] #25 closed

[2020-03-02 11:56] #15 closed

[2020-03-02 12:26] w00lf commented on #20
#28

[2020-03-02 12:28] w00lf commented on #21
@opoudjis is this one duplicate of #20 ?

[2020-03-04 00:33] #20 closed

[2020-03-09 12:24] opoudjis commented on #21
Sorry, @w00lf, this seems to be in wrong repo, it should be referring to ISO. Moving.

[2020-04-06 12:03] ronaldtse commented on #1
The first step would be implementing only the English layout.

Page 1
<img width="500" alt="Screen Shot 2020-04-06 at 8 01 45 PM" src="https://user-images.githubusercontent.com/11865/78556367-74712180-7841-11ea-95fa-e4e02aca3903.png">

Page 2
<img width="483" alt="Screen Shot 2020-04-06 at 8 02 05 PM" src="https://user-images.githubusercontent.com/11865/78556389-7dfa8980-7841-11ea-8433-7a35aa8eaed

[2020-04-06 13:43] opoudjis commented on #1
Have implemented an IEV document template. There is clearly idiosyncratic rendering for IEV (IEV citations instead of term numbers for clause 3), and modelling is needed for aspects of terms not hitherto modelled (specific use attributes, symbols, French equivalents in bilingual documents, additional language equivalents).

[2020-04-07 13:35] opoudjis commented on #1
Treating `domain:[]` as usage information, repeating it after each term if present.

[2020-04-07 13:59] opoudjis commented on #1
Have done preliminary implementation. Any refinements are to be ticketed separately.

[2020-04-07 13:59] #1 closed

[2020-04-08 14:51] ronaldtse opened #32 "TOC headings seems to break section names?"
<img width="281" alt="image" src="https://user-images.githubusercontent.com/11865/78798299-6959f500-79eb-11ea-89a0-e6fb289b590b.png">

=> "INTRODUCTIONPrinciples and rules followed"

This is from https://github.com/glossarist/iev-document .

[2020-04-10 17:41] ronaldtse opened #33 "Create IEC HTML style to reflect styling"
<img width="1137" alt="Screen Shot 2020-04-11 at 1 39 08 AM" src="https://user-images.githubusercontent.com/11865/79010784-3d7a7300-7b95-11ea-973b-41d01ebff3ac.png">

IEC uses Arial. General design should follow this:
https://www.iec.ch/members_experts/refdocs/iec/isoiecdir1-consolidatediecsup%7bed15.0.RLV%7den.pdf

@pierrefortier do you have time to create an HTML style for IEC? Thanks!

[2020-04-10 19:45] ronaldtse opened #34 "Discrepancy with IEV layout and TOC content"
<img width="493" alt="image" src="https://user-images.githubusercontent.com/11865/79018626-db2a6e00-7ba6-11ea-9826-2e6e9edf96b3.png">

https://webstore.iec.ch/preview/info_iec60050-171%7Bed1.0%7Db.pdf

[2020-04-11 05:48] ronaldtse opened #35 "Tailor to IEC stage codes and their description"
Code | Desc
-- | --
PWI | Preliminary Work Item
NP | New Work Item Proposal
WD | Working Draft
CD | Committee Draft
CDV | Committee Draft for Vote
FDIS | Final Draft International Standard
IS | International Standard

[2020-04-11 08:22] opoudjis commented on #35
Already done in https://github.com/metanorma/metanorma-iso/issues/342

[2020-04-11 08:22] #35 closed

[2020-04-11 08:28] opoudjis commented on #35
A distinction is made in the XML between `stage/@abbreviation`, which is the foregoing, and `substage/@abbreviation`, which is the full throttle abbreviation including all the substages. The former is used in creating the identifier.

[2020-04-11 09:55] opoudjis commented on #33
Be aware that there has been MASSIVE refactoring of the CSS since you last worked with us, Pierre, and any changes that go against that refactoring are going to make my life (or @w00lf 's) very uncomfortable.

Kindly use the attached as your starting point.

 https://metanorma.github.io/mn-samples-iec/documents/iec-rice.html

[2020-04-20 01:34] ronaldtse commented on #32
@w00lf could you help take care of this? Thanks!

[2020-04-20 02:42] opoudjis commented on #32
if you get to it before me, @w00lf, the simplification of TOC headings is in isodoc, header_strip().

[2020-04-21 00:07] opoudjis commented on #32
... no, it is in the JS scripts.html; the code to build it statically is overridden.

[2020-04-21 00:13] opoudjis commented on #32
This is from the comedy of errors of https://github.com/metanorma/isodoc/issues/79. The request to move away from Javascript dates from TWO YEARS AGO, and the followup to feature-improve static TOC has been unactioned as https://github.com/metanorma/isodoc/issues/113.

I will need to investigate what disabling static ToC will do.

[2020-04-21 00:50] opoudjis commented on #32
So

* The cleanup of headings in Static ToC (Ruby) is much better than that in Dynamic ToC (JS), which is basically unimplemented.
* I have no idea if we are meant to be moving away from Dynamic ToC or not, metanorma/isodoc#79 is muddled and full of short term thinking.
* I have no idea if we are meant to use jQuery or not.
* I do know that replicating code to do the same thing in JS and Ruby is l

[2020-04-21 02:49] ronaldtse commented on #32
We are meant to have a degradable Dynamic ToC. Ie. Even if there is no JS enabled the ToC still works, perhaps without highlighting.

[2020-04-21 08:38] opoudjis commented on #32
There is no reason to implement the same functionality twice in this case. Urgent I speak to you.

[2020-04-21 10:49] #32 closed

[2020-04-22 05:21] ronaldtse opened #39 "Support IEC doctypes: technical-specification ("IEC/TS") and technical-report ("IEC/TR")"
The content of this is identical to https://github.com/metanorma/metanorma-iso/issues/349 , except for the document identifier to use "IEC" instead of "ISO".

[2020-04-24 08:53] Intelligent2013 opened #40 "Introduce document attribute for 'colour inside' indication"
To generate the IEC cover pages in PDF (https://github.com/metanorma/mn-native-pdf/issues/109) we need to have the indication in the XML that document contains colour images, figures, etc.

![image](https://user-images.githubusercontent.com/5559926/80193742-09d22b00-8622-11ea-8711-b48123f33b9e.png)

from @ronaldtse:

[2020-04-24 09:23] Intelligent2013 opened #41 "IEC XML example with two languages document"
To generate the IEC multi-languages document in PDF ((https://github.com/metanorma/mn-native-pdf/issues/109) I need the XML example that contains bibdata, boilerplate, preface, section, etc. on a few languages.
Or I need to know the structure of such XML.

[2020-04-24 09:25] Intelligent2013 opened #42 "Introduce 'price code' property"
To generate the IEC cover pages in PDF (https://github.com/metanorma/mn-native-pdf/issues/109) we need to have 'price code' property in the XML.

![image](https://user-images.githubusercontent.com/5559926/80196903-a1397d00-8626-11ea-8b3e-c5acda5ab444.png)

This issue is to add this attributes.

[2020-04-24 09:40] Intelligent2013 opened #43 "Introduce ISBN property"
To generate the IEC cover pages in PDF (https://github.com/metanorma/mn-native-pdf/issues/109) we need to have 'ISBN' property in the XML.

![image](https://user-images.githubusercontent.com/5559926/80198444-bd3e1e00-8628-11ea-8d7e-d71f66076b12.png)

This issue is to add these attributes.

[2020-04-24 09:52] Intelligent2013 opened #44 "Introduce 'About ...' and URLs information"
To generate the IEC cover pages in PDF (https://github.com/metanorma/mn-native-pdf/issues/109) we need to have 'About...' and URLs  data in the XML. Sample document https://www.itu.int/en/ITU-D/Technology/Documents/Events2016/CI_Training_ARB_Tunis_April16/Session8/IEC_61000-4-5_2014.pdf:

![image](https://user-images.githubusercontent.com/5559926/80199735-56b9ff80-862a-11ea-8fe5-1513de0fe701.png)

[2020-04-24 10:09] Intelligent2013 opened #45 "Introduce 'category of standard' property"
To generate the IEC cover pages in PDF (https://github.com/metanorma/mn-native-pdf/issues/109, https://github.com/metanorma/mn-native-pdf/issues/121) we need to have 'category of standard' property in the XML:

PDF cover page example:

![image](https://user-images.githubusercontent.com/5559926/80201186-6cc8bf80-862c-11ea-8c9c-dd1395860b28.png)

This issue is to add this property.

[2020-04-24 10:13] Intelligent2013 opened #46 "Introduce 'Horizontal Standard' indication"
To generate the IEC cover pages in PDF (https://github.com/metanorma/mn-native-pdf/issues/109, https://github.com/metanorma/mn-native-pdf/issues/121) we need to know in the XML  that if standard is 'Horizontal Standard' - true/false.

From @ronaldtse (https://github.com/metanorma/mn-native-pdf/issues/109#issuecomment-612188151):

This issue is to add this attribute.

[2020-04-24 10:22] Intelligent2013 opened #47 "Introduce 'CEN processing' indication"
To generate the IEC cover pages in PDF (https://github.com/metanorma/mn-native-pdf/issues/121#issue-598202931) we need to have CEN processing (true/false) attribute in the XML.

This issue is to add this attribute.

[2020-04-24 11:12] Intelligent2013 opened #48 "Introduce data for circulation cover page"
To generate the IEC pre-publication cover pages in PDF (https://github.com/metanorma/mn-native-pdf/issues/120, https://github.com/metanorma/mn-native-pdf/issues/121) we need to have there data in the XML:

- the data 104/864/FDIS, 90/387/CDV (see examples in issues above)
- ~~Closing date for voting~~ (done in metanorma/metanorma-iso#341)
- Indication when we should place 'IEC SC' and when 'IEC TC

[2020-04-25 09:02] opoudjis commented on #41
@Intelligent2013 Talk to @ronaldtse about this, we discussed this yesterday.

[2020-04-25 09:15] ronaldtse commented on #41
@Intelligent2013 we will have two separate XML files that are identical in structure. Each element in the second document will link to the first document. This way we can ensure both documents are aligned.

There are two kinds of layouts:
* side by side (e.g. two languages every clause/list item are side by side)
* front and back (e.g. a simple concatenation of two documents, where language 1 goes

[2020-04-25 09:23] opoudjis commented on #41
I have not worked through all the ideas behind this, but I imaging there will be a master document and a slave document. The IDs in the slave document will need to reference IDs in the master document, possibly even including replicating each anchor down to the paragraph level. There will need to be overrides in the master document, to have its content take over the two columns for a particular it

[2020-04-25 09:42] ronaldtse commented on #41
The challenge is when the paired documents have different structures (e.g. markup errors with clauses). We need to detect the errors and throw out the stitching process.

[2020-04-25 09:55] opoudjis commented on #48
Of these, some data is  already available:

* "Closing date for voting" is `//bibdata/date[@type = 'vote-closed']`, introduced in https://github.com/metanorma/metanorma-iso/issues/341
* The stability text is `//bibdata/date[@type = 'unchanged']`

[2020-04-25 09:55] opoudjis commented on #48
@ronaldtse Obviously, I must get hold of this coverpage for DOC and HTML. Kindly provide it.

[2020-04-25 10:20] ronaldtse opened #49 "IEC document cover pages"
These cover pages are supported for these document stages:

* CDV: Committee Draft for Voting
* CD: CD for IS
* CD-TSTR: CD for TS or TR
* DTS: Draft TS
* DTR: Draft TR
* FDIS: Final draft IS
* DPAS: Draft PAS

[Archive.zip](https://github.com/metanorma/metanorma-iec/files/4532765/Archive.zip)

All forms available from https://www.iec.ch/standardsdev/resources/forms_templates/

[2020-04-25 11:03] ronaldtse commented on #48
@opoudjis please see: https://github.com/metanorma/metanorma-iec/issues/49

[2020-05-03 03:29] ronaldtse commented on #48
This is a mistake -- the correct attributes introduced are `vote-started` and `vote-ended`.

[2020-05-03 03:39] ronaldtse commented on #33
@w00lf I'm going to assign this to you instead; the following two changes will suffice for us now:

1. Replace all instances of "Cambria" with "Arial". Beware we don't want to replace "Cambria Math"
2. Replace all instances of "#f7f7f7" with "#f5faff"

The changes I made so far are in the branch "feature/iec-style" #52 .

[2020-05-06 14:06] manuel489 opened #53 "Numbered lines in DOC output"
Regarding the IEC sample document: https://github.com/metanorma/mn-samples-iec/blob/master/sources/iec-rice.adoc

Every time the DOC file is generated the line numbering option in Word gets activated.
(The "Track Changes" option gets activated as well.)

![cap-doc](https://user-images.githubusercontent.com/33627611/81186567-f2c7fd00-8f80-11ea-8ca5-e7cec91f8ef0.PNG)

[2020-05-06 15:21] manuel489 opened #54 "Additional text added to a footnote paragraph in XML"
*From document: https://github.com/metanorma/mn-samples-iec/blob/master/sources/iec-rice.adoc*

Coming from a reference footnote paragraph, there is an additional text (`ISO DATE: `) added automatically to the XML source.

*Source hunk:*
[code]
*XML:*
[code]

*PDF:*
![image](https://user-images.githubusercontent.com/55683568/72927026-be279100-3d55-11ea-8af8-7d655aedc047.png)

*DOC:*
![image](https

[2020-05-06 16:23] ronaldtse commented on #53
I think this is an option?

[2020-05-06 18:16] manuel489 opened #55 "Remaining issues in PDF version vs DOC"
*This issue is related to https://github.com/metanorma/mn-native-pdf/issues/58*

- The page numbering in front page area is done with Arabic numbers in PDF, and Roman numbers in DOC. (The ordering differs as well.)

*PDF:*
![diff-alex-pdf](https://user-images.githubusercontent.com/33627611/81211651-ad67f780-8fa1-11ea-8fa8-1b4fa3c9ddde.PNG)

*DOC:*
![diff-alex-doc](https://user-images.githubusercon

[2020-05-06 18:24] manuel489 commented on #53
@ronaldtse , yes it is an option,  hence, it is removable. However, this option is activated every time the file is generated, and considering that this issue is not present in other flavors. I thought prudent to tag it as a bug.

[2020-05-06 18:53] manuel489 opened #56 "Duplicated appendix title in DOC"
*From sample document: https://github.com/metanorma/mn-samples-iec/blob/master/sources/iec-rice.adoc*

The "Appendix 1" title is duplicated.
(Also, notice that there is an additional line-break in the source block.)

*Markup hunk:*

[code]

*DOC:*
![nick-issue1-doc](https://user-images.githubusercontent.com/33627611/81216337-c031fa80-8fa8-11ea-9af7-ad9f9d379eff.PNG)

*PDF:*
![nick-issue1-pdf](http

[2020-05-06 19:08] manuel489 opened #57 "Large horizontal spacing in NOTE block"
*This is just a detail*

When a note block gets attached below a table, the horizontal space between the text "NOTE:" and the content gets larger.

*DOC:*
![diff-nick-3-doc](https://user-images.githubusercontent.com/33627611/81217760-23249100-8fab-11ea-9fbb-bb50e35bb15a.PNG)

*PDF:*
![diff-nick-3-pdf](https://user-images.githubusercontent.com/33627611/81217763-2586eb00-8fab-11ea-9eb2-0a38b47d2534.

[2020-05-07 00:11] opoudjis commented on #53
All drafts have line numbering. That is a requirement from IEC and NIST for their drafts (so that reviewers can cite by line number). So it's not a bug.

[2020-05-07 00:11] #53 closed

[2020-05-07 00:17] opoudjis commented on #33
Be aware that the HTML font variables are set in lib/isodoc/iec/html_convert.rb, and is already using Arial for $bodyfont and $headerfont:

[code]

[2020-05-07 00:45] ronaldtse commented on #53
I wanted to say otherwise but after checking the drafts I think this might be true. As long as there is a way to turn this off, it's good.

[2020-05-07 02:01] ronaldtse commented on #33
Done in https://github.com/metanorma/metanorma-iec/pull/52 .

[2020-05-07 02:01] #33 closed

[2020-05-10 18:16] Intelligent2013 commented on #55
Regarding https://github.com/metanorma/mn-native-pdf/issues/110 on front page should be Arabic numbers.

Issue was fixed in https://github.com/metanorma/mn-native-pdf/issues/111

Issue was fixed earlier already.

Vertical spacing will be aligned for https://github.com/metanorma/mn-native-pdf/issues/116

Issue was fixed earlier already.

Fixed.

Updated PDF here: https://github.com/metanorma/mn-nat

[2020-05-21 01:21] manuel489 commented on #55
Thanks @Intelligent2013 ,
There are other discrepancies against DOC version. But I think those are due to a disagreement in formatting. I will post them in a separated ticket. Do you know where I can find the original version of this document?

[2020-05-21 05:38] Intelligent2013 commented on #55
@manuel489 I don't know about the original version. Initially, I've developed XSLT for DOC version. Then I've changed styles to align these PDFs: https://github.com/metanorma/mn-native-pdf/issues/109.

[2020-05-21 12:39] manuel489 commented on #55
Ok @Intelligent2013 , thanks for the information. I'll checkout those PDFs and open another ticket that involves you and @opoudjis to talk about the remaining formatting discrepancies. Closing.

[2020-05-21 12:39] #55 closed

[2020-05-28 12:54] opoudjis commented on #56
That is absolutely the correct behaviour. If the title were instead "A study in scarlet",

[code]

would render as

____
Appendix 1: A study in scarlet
____

In this case, it is the PDF that has incorrect behaviour: @Intelligent2013. Appendixes in ISO need to be explicitly labelled.

[2020-05-28 12:56] opoudjis commented on #56
Again, that is correct behaviour: there is meant to be a blank line between the sourcecode and the annotation callouts, to make it clear that the annotation callouts are separate from the source code. Again, @Intelligent2013, the PDF behaviour should be different.

[2020-05-28 12:56] #56 closed

[2020-05-28 12:58] opoudjis opened #60 "Rendering of Appendix and of callouts in PDF"
From https://github.com/metanorma/metanorma-iec/issues/56:

[code]

The correct behaviour is

* to insert an "Appendix n" caption before the title of an `<appendix>`
* to insert a blank line between `<sourcecode>` and the listing of callouts following it.

[2020-05-28 14:26] opoudjis commented on #39
Behaviour already implemented: inherited from ISO.

[2020-05-28 14:26] #39 closed

[2020-05-29 02:23] manuel489 opened #61 "Missing white space between inline header and content"
[code]

renders as

![inline-header](https://user-images.githubusercontent.com/33627611/83214048-a90ea480-a131-11ea-8149-5c792b1d16cb.PNG)

White space is missing.

[2020-05-29 04:32] manuel489 opened #62 "Discrepancies between PDF and DOC outputs"
I have opened this ticket in order to discuss about the discrepancies between PDF vs DOC, with the purpose to achieve a more similar layout (if possible).
In regard to PDF, @Intelligent2013 is taking guidance from these documents layout: https://github.com/metanorma/mn-native-pdf/issues/109.

The discrepancies are:

1. Page numbering. In DOC, Roman numbers are used (in preface pages), while in PDF

[2020-06-02 18:52] #60 closed

[2020-06-02 19:25] Intelligent2013 commented on #60
Fixed.

Resulted PDF: https://github.com/metanorma/mn-native-pdf/raw/gh-pages/documents/iec-rice.pdf

![изображение](https://user-images.githubusercontent.com/5559926/83561087-ed2dea80-a51f-11ea-9d19-97f4725e7f05.png)

[2020-06-03 16:11] opoudjis commented on #62
Would have been helpful to identify which of the two is wrong.

1. DOC is wrong about page numbers.
2. DOC is wrong about cover page warnings. (@manuel489 what do you mean by caption blocks? Need examples.)
3. PDF is wrong about internal title
4. DOC is wrong about indenting formulas in terms
5. Don't know, needs escalation: @ronaldtse
6. DOC is wrong about formula position
7. DOC is wrong about b

[2020-06-03 16:11] opoudjis commented on #62
Splitting this ticket.

[2020-06-03 16:13] opoudjis opened #64 "Discrepancies between PDF and DOC outputs: PDF fixes"
_From: https://github.com/metanorma/metanorma-iec/issues/62_

3. Main titles differ. "INTERNATIONAL ELECTROTECHNICAL COMMISSION" is missing in PDF.

DOC:
![diff3-doc](https://user-images.githubusercontent.com/33627611/83219245-f09b2d80-a13d-11ea-92fc-080a9973cec1.PNG)

PDF:
![diff3-pdf](https://user-images.githubusercontent.com/33627611/83219256-f3961e00-a13d-11ea-901e-e2369509476a.PNG)

[2020-06-04 12:02] opoudjis commented on #62
5, default inline headers, is ISO editorial practice. I'll override it.

[2020-06-04 12:56] #62 closed

[2020-06-04 14:10] opoudjis commented on #61
Right: I inject a tab (space in HTML) after the clause number, but I need to do so again if a title exists as well.

[2020-06-04 14:58] opoudjis commented on #57
Compared to the PDF, but not within Word. If you put a  NOTE after a normal para, there will be the same amount of space between note and text. That is because we are using a tab, and our stylesheet (which is taken from IEC) has a default tab stop at 2.5 cm.

There is also a tab stop at 1.25cm, and it turns out that Word will look like the PDF if I make the note label be 8pt, like the note text, a

[2020-06-04 16:21] Intelligent2013 commented on #64
@opoudjis Looks like manuel489 compared Foreword page from DOC with Frontpage from PDF.

Here is foreword page from resulted PDF (iec-rice) with `INTERNATIONAL ELECTROTECHNICAL COMMISSION` at top:
![изображение](https://user-images.githubusercontent.com/5559926/83781570-669c1900-a697-11ea-949b-af67a02b7d9d.png)

Here is front page (page after introduction) from resulted PDF (iec-rice) without `INT

[2020-06-04 17:18] ronaldtse commented on #64
@Intelligent2013 @opoudjis @manuel489
* Foreword page has "INTERNATIONAL ...".
* Content page header never had it.

Are we doing the right thing here?

[2020-06-04 17:29] manuel489 commented on #64
Well, I don't think so. I was actually comparing front pages in both versions.

DOC:
![diff-doc](https://user-images.githubusercontent.com/33627611/83791161-58ce9f80-a667-11ea-94f9-ee7240fac709.PNG)

PDF:
![diff-pdf](https://user-images.githubusercontent.com/33627611/83791169-5b30f980-a667-11ea-9e98-88bd7cd72ecb.PNG)

[2020-06-04 17:49] Intelligent2013 commented on #64
@manuel489 sorry, I've looked at page number ( -1- vs -7-) and thought that these a different sections...

[2020-06-04 17:52] Intelligent2013 commented on #64
In PDF it so.

[2020-06-04 17:53] manuel489 commented on #64
@Intelligent2013 , no worries. Good catch btw! 👍

[2020-06-04 17:56] ronaldtse commented on #64
@manuel489 does this mean that the DOC output should be fixed? (i.e. Only foreword page should have "INTERNATIONAL ...", the page with Scope should not)

[2020-06-04 17:58] manuel489 commented on #64
@ronaldtse , based on this statement, yes.

[2020-06-05 07:16] opoudjis commented on #49
@ronaldtse who is this assigned to?

[2020-06-11 14:42] manuel489 opened #65 "Remove "INTERNATIONAL..." text from main title in DOC version"
As stated by @ronaldtse in https://github.com/metanorma/metanorma-iec/issues/64#issuecomment-639011425:

*Only foreword page should have "INTERNATIONAL ...", the page with Scope should not*

DOC:
![capture-doc](https://user-images.githubusercontent.com/33627611/84400494-1ad5fc00-abd0-11ea-9eea-2afa78a67e7b.PNG)

PDF:
![capture-pdf](https://user-images.githubusercontent.com/33627611/84400518-245f64

[2020-06-11 14:44] manuel489 commented on #64
New ticket created in https://github.com/metanorma/metanorma-iec/issues/65. Closing.

[2020-06-11 14:44] #64 closed

[2020-06-11 14:55] manuel489 opened #66 "Incorrect rendering in Bibliography section (DOC)"
Numbering is still shown in non-auto-fetched references, and "Bibliography" title should be center-aligned.

DOC:
![capture2-doc](https://user-images.githubusercontent.com/33627611/84401751-a0a67700-abd1-11ea-8d8a-2043942f2ecd.PNG)

PDF:
![capture2-pdf](https://user-images.githubusercontent.com/33627611/84401774-a69c5800-abd1-11ea-9796-0374e8115533.PNG)

Thanks!

[2020-06-17 12:30] #65 closed

[2020-08-25 09:25] opoudjis commented on #66
So, metanorma-iso applies numbering to all Bibliography entries, whether they have identifier codes or not. metanorma-iec does not.

And the IEC Word template confirms it:

[code]

In fact, so does the example Bibliography in IEC-template_v5_User-guide.

So whatever advice I was following in dropping the number for IEC was incorrect. @Intelligent2013 IEC says that numbering on bibliography is opti

[2020-08-25 09:37] opoudjis commented on #66
Looking at https://github.com/metanorma/metanorma-iec/issues/62, I see that I had removed numbering from IEC to match PDF output, but I'd done so clumsily. In fact, Metanorma *expects* there to be numbered citations for non-standard references: author-date citations are not currently implemented. And there is no reason to treat unnumbered citations (PDF) as more correct than numbered citations (DO

[2020-08-25 11:31] opoudjis commented on #54
Already resolved in https://github.com/metanorma/metanorma-iso/issues/397

[2020-08-25 11:31] #54 closed

[2020-08-25 13:27] Intelligent2013 commented on #66
Fixed.
![изображение](https://user-images.githubusercontent.com/5559926/91179736-93d4f200-e6ef-11ea-8725-dd2b38444d5e.png)

[2020-08-25 13:27] #66 closed

[2020-09-04 14:52] Intelligent2013 commented on #49
Done. IEC XSLT updated.

[2020-11-03 13:38] opoudjis commented on #41
@Intelligent2013 @ronaldtse We have implemented this in BIPM; is this still a live issue for IEC? If so, you'll need to specify what further is needed.

Side by side is a nightmare of course, because of the difficulties in alignment, and the constant jumping between one and two columns for any figures or examples. If we can avoid doing this, we should.

[2020-11-14 05:34] opoudjis commented on #44
This data belongs to boilerplate.

[2020-11-14 13:31] opoudjis commented on #44
[a.presentation.xml.zip](https://github.com/metanorma/metanorma-iec/files/5540766/a.presentation.xml.zip)

[2020-11-14 13:32] #44 closed

[2020-11-14 13:40] opoudjis commented on #43
Done in https://github.com/metanorma/metanorma-standoc/issues/359

The ISBN identifier is generated as `//bibdata/docidentifier[@type = 'ISBN']`, and is added to asciidoctor source as as the document attribute `:isbn:`.

[2020-11-14 13:40] #43 closed

[2020-11-14 13:42] opoudjis commented on #43
[a.presentation.xml.zip](https://github.com/metanorma/metanorma-iec/files/5540785/a.presentation.xml.zip)

[2020-11-18 05:30] opoudjis commented on #46
Horizontal Standard looks like an instance of Category of Standard from the sample docs. Merging into #45

[2020-11-18 05:30] #46 closed

[2020-11-18 05:30] opoudjis commented on #45
Add Horizontal Standard as a category.

[2020-11-27 10:45] opoudjis commented on #45
To be realised as:

`:docsubtype: { emc | safety | environment | quality-assurance | horizontal }`

[2020-11-27 11:22] opoudjis commented on #45
Setting IEC to include both French and English doctype and docsubtype localisations in bibdata

[2020-11-27 12:05] opoudjis commented on #45
There is no evidence whatsoever of the existence of the document subtypes:

* Basic Environment Publication
* Basic Quality Assurance Publication

The only attestation of these online is https://github.com/metanorma/mn-native-pdf/issues/109#issuecomment-616762842. @ronaldtse, I'd rather have an IEC publication as a source of truth than a Github ticket written by one of us.

https://www.iec.ch/dyn/

[2020-11-27 12:19] ronaldtse commented on #45
Sorry for the late reply:

Horizontal Standard is a true/false -- it's not a category. Any standard can be marked as a Horizontal Standard, and ISO is also introducing this.

[2020-11-27 12:23] ronaldtse commented on #46
@opoudjis as per https://github.com/metanorma/metanorma-iec/issues/45#issuecomment-734809054:

Horizontal Standard is a true/false -- it's not a category. Any standard can be marked as a Horizontal Standard, and ISO is also introducing this.

[2020-11-27 12:27] ronaldtse commented on #47
Yes, this is a true/false value. Thanks.

[2020-11-27 12:32] opoudjis commented on #45
Also, it is claimed >:-| , the "category of standard" is not a subtype of international-standard.

The solution becomes:

[code]

[2020-11-27 12:33] ronaldtse commented on #42
The structure of the IEC price code is described here:
https://www.iec.ch/members_experts/tools/pdf/IEC_DATA_FEEDS.pdf

<img width="1084" alt="Screen Shot 2020-11-27 at 8 33 11 PM" src="https://user-images.githubusercontent.com/11865/100449974-c546ca80-30ef-11eb-94ab-3ebfa7b747bb.png">

So in the metadata we probably only need to know the "price code group", which is just a string.

[2020-11-27 12:37] ronaldtse commented on #45
Claimed courtesy of IEC:

<img width="501" alt="Screen Shot 2020-11-27 at 8 36 30 PM" src="https://user-images.githubusercontent.com/11865/100450219-3be3c800-30f0-11eb-9170-6e97a20e1970.png">

@opoudjis can we also add the `horizontal` attribute to ISO? ISO is also marking them soon.

[2020-11-27 12:38] ronaldtse commented on #45
Do you want to rename `doccategory` to `functions-concerned` in alignment with IEC wording? I also believe these are multi-valued.

[2020-11-27 12:45] opoudjis commented on #45
[code]

[2020-11-27 14:36] opoudjis commented on #45
@Intelligent2013 The realisations in Presentation XML are:

For horizontal = true

[code]

For horizontal = false

[code]

[2020-11-27 14:41] #45 closed

[2020-11-28 12:13] Intelligent2013 commented on #45
@opoudjis thank you.

[2020-12-07 11:29] opoudjis commented on #40
Element added as `//bibdata/ext/accessibility-color-inside`

[2020-12-07 11:35] #40 closed

[2020-12-07 11:41] opoudjis commented on #42
Adding as `:price-code:`, located in `//bibdata/ext/price-code`

[2020-12-07 11:59] #42 closed

[2020-12-07 12:04] opoudjis commented on #42
Sample document:

[a.presentation.xml 2.zip](https://github.com/metanorma/metanorma-iec/files/5652510/a.presentation.xml.2.zip)

[2020-12-14 17:31] ronaldtse commented on #41
Yes this is a live issue. We need a mechanism to create PDFs in the format described in metanorma/mn-native-pdf#109. There is no need for Word output here.

[2020-12-15 00:24] opoudjis commented on #41
Surely this has now been addressed by bilingual collections, as in BIPM?

https://www.itu.int/en/ITU-D/Technology/Documents/Events2016/CI_Training_ARB_Tunis_April16/Session8/IEC_61000-4-3_2010.pdf is English text followed by French text, so it's the same as the BIPM brochure. The other docs are the same. Therefore there is nothing for *me* to do here: the required XML structure is already in place

[2020-12-15 01:24] ronaldtse commented on #41
Yes this is correct. @Intelligent2013 the action stated by @opoudjis is okay right?

[2020-12-15 07:25] Intelligent2013 commented on #41
@ronaldtse it's ok for me.

[2020-12-15 13:43] opoudjis commented on #41
There are some errors in i18n revealed here, but I think the essentials are in place; the bilingual documents are not currently being split properly either, but that can be left for a later ticket. For now, here is your example:

[bilingual-brochure.zip](https://github.com/metanorma/metanorma-iec/files/5696272/bilingual-brochure.zip)

[2020-12-15 13:43] #41 closed

[2020-12-18 15:03] opoudjis commented on #47
`//bibdata/ext/cen-processing`

[2020-12-18 15:03] #47 closed

[2020-12-28 12:54] opoudjis commented on #48
Already done:

- Closing date for voting: `//bibdata/date[@type = 'vote-ended']`
- Proposed horizontal standard: `//bibdata/ext/horizontal`
- Functions concerned (EMC, Environment, Quality assurance, Safety): `//bibdata/ext/function`
- Indication of 'Submitted for CENELEC parallel voting' (true, false): `//bibdata/ext/cen-processing`
- Proposed stability date: `//bibdata/date[@type = 'unchanged']`

[2020-12-28 13:18] opoudjis opened #95 "Template for circulation cover page"
https://github.com/metanorma/metanorma-iec/issues/48 is introducing various elements to populate a pre-publication checklist page, which is generated only in PDF. It's not enough for me to supply the XML values for @Intelligent2013 to use; we also need to provide guidance to users as to how to populate those values for IEC.

I request a separate template be generated, to document the required fiel

[2020-12-28 14:39] opoudjis commented on #48
Boilerplate remains to be done

[2020-12-29 06:43] opoudjis commented on #48
Of the remainder:

I am assuming that the cover page is English only, and I am replicating English-language boilerplate to the French boilerplate file.

This boilerplate appears in the coverpage which *replaces* the publication cover page (and inside cover page) for unpublished drafts.

Therefore, the copyright statement shall appear in //copyright-statement, replacing in draft documents the publi

[2020-12-29 10:59] opoudjis commented on #48
Have updated rspec so it uses live boilerplate file and runs Liquid on it, rather than try and fake it with regexes

[2020-12-29 11:21] #48 closed

[2020-12-29 11:27] opoudjis commented on #48
[coverpage.zip](https://github.com/metanorma/metanorma-iec/files/5750501/coverpage.zip)

[2021-01-08 18:02] manuel489 commented on #95
Changes are ready to review in https://github.com/metanorma/mn-templates-iec/pull/18

[2021-01-19 13:47] opoudjis commented on #95
Answering your queries:

In principle, all abbreviations are recognised in stage, although we prefer using the numbers. In practice, I've missed the simple abbreviations, and I'll put them back in. So `:stage: 50` is recognised, and so is `:stage: RFDIS`; I'm putting in the simple codes, so that `:stage: FDIS` is recognised.

Both are allowed. I prefer the numbers, because there's less room for do

[2021-01-19 14:07] opoudjis opened #99 "Superseded Documents"
Follow-on from https://github.com/metanorma/metanorma-iec/issues/95:

The *Supersedes Documents* field in the document template needs to be populated. It is populated from `//bibdata/relation[@type = 'obsoletes']/bibitem/docidentifier`, and there can be multiple instances of it:

[code]

[2021-01-23 13:37] Intelligent2013 commented on #99
Done.
![изображение](https://user-images.githubusercontent.com/5559926/105579524-4c36bd00-5d98-11eb-832b-0b3e543d5031.png)

Previous source field was:
[code]
(https://github.com/metanorma/mn-native-pdf/commit/866ae450f84846a131964eee12d23bdf20825998#diff-b1e83f67c3a4774c1acb199034855fa42a11cf33ce1aec0a8ee1a44febbb28a3)
Really I don't remember the reason of this previous solution...

[2021-01-23 13:37] #99 closed

[2021-03-04 12:57] manuel489 commented on #95
Thanks @opoudjis!  I have applied the changes.

[2021-03-16 14:20] manuel489 commented on #95
Changes are approved and merged.
Closing.

[2021-03-16 14:20] #95 closed

[2021-11-16 02:54] ronaldtse opened #111 "Support NISO STS output for IEC"
We need to create NISO STS output for IEC.

* [x] #112
* [x] https://github.com/metanorma/mnconvert/issues/95

NOTE: IEC needs to be able to run our generated STS into their STS -> PDF toolchain.

[2021-11-16 02:55] ronaldtse opened #112 "Enable metanorma-iec Ruby gem to generate NISO STS"

[2021-11-16 05:05] ronaldtse opened #113 "Unable to cite IEV terms within content"
From: https://github.com/glossarist/iev-document/issues/10

Original source:

[code]

The syntax is correct.

Rendered:
<img width="1056" alt="Screenshot 2021-11-16 at 1 03 01 PM" src="https://user-images.githubusercontent.com/11865/141924042-8388bcee-c1ff-46d2-9ece-30304adb8c67.png">

[2021-11-16 05:10] ronaldtse opened #114 "Broken section heading when containing a colon"
From: https://github.com/glossarist/iev-document/issues/12

Encoding:
[code]

TOC rendered as:
<img width="796" alt="Screenshot 2021-11-16 at 1 08 43 PM" src="https://user-images.githubusercontent.com/11865/141924537-61f0d665-b00b-442b-8b0b-57d833b38c89.png">

In content:
<img width="823" alt="Screenshot 2021-11-16 at 1 09 01 PM" src="https://user-images.githubusercontent.com/11865/141924558-0badb

[2021-11-16 05:12] ronaldtse opened #115 ""No normative references" message shown when they are present"
From https://github.com/glossarist/iev-document/issues/13

[code]

Rendered as:
<img width="626" alt="Screenshot 2021-11-16 at 1 11 16 PM" src="https://user-images.githubusercontent.com/11865/141924765-d13b952d-a0de-4d94-97d7-8e31fa969aa3.png">

[2021-11-16 05:14] ronaldtse opened #116 "When authoritative source is IEV, [SOURCE] renders broken"
From: https://github.com/glossarist/iev-document/issues/14

Source:

[code]

Rendered as:
<img width="735" alt="Screenshot 2021-11-16 at 1 12 59 PM" src="https://user-images.githubusercontent.com/11865/141924882-8bf3819d-1c5d-414e-88eb-d93bbf963319.png">

[2021-11-16 06:58] Intelligent2013 commented on #114
Issue in the metanorma xml - `&lt;br/&gt;`:
[code]

[2021-11-16 12:12] opoudjis commented on #112
In fact STS had been expressly disabled.

[2021-11-16 12:45] opoudjis commented on #112
Using ISO STS converter

[2021-11-16 12:46] #112 closed

[2021-11-17 09:56] #114 closed

[2021-11-17 10:06] opoudjis commented on #115
That was deliberately done in metanorma-iec, presumably because normative references are not allowed in IEV. But that's untenable when references do show up; rescinding.

[2021-11-17 10:12] #115 closed

[2021-11-17 11:23] opoudjis commented on #116
If an explicit citation of `IEV` is given in the references, this works fine:

`* [[[IEV, IEV]]]`

I do not agree at all with a notion that IEV should not be cited. After all,

`//* [[[ievtermbank,IEV]]], _IEV: Electropedia_`

why wouldn't we cite the IEV internally as `ievtermbank`? Why would we hard code anchors?

[2021-11-17 11:26] ronaldtse commented on #116
This is from the documentation on metanorma.org.

See [metanorma.org.](https://www.metanorma.org/author/topics/document-format/section-terms/)

Moreover, the correct citation practice is to cite IEC 60050 instead of to "IEV" (see docs)

[2021-11-17 11:26] ronaldtse commented on #116
I don't mind requiring an encoded reference but that **needs to be made clear on documentation** on **how to cite from the IEV**. Right now it is not doing that at all.

[2021-11-17 11:28] ronaldtse commented on #115
Does this mean it was a bug then?

[2021-11-17 12:34] opoudjis commented on #113
Inserting the IEV into references explicitly, as is required, this now renders correctly. However, in line with all termbase citations currently, "Termbase" is prefixed to the termbase citation:

<img width="476" alt="Στιγμιότυπο 2021-11-17, 23 32 36" src="https://user-images.githubusercontent.com/1911039/142201433-0de554bf-7d21-4d71-8c3f-94ee82d24447.png">

Do you want "Termbase" removed in the

[2021-11-17 12:58] opoudjis commented on #116
Works once:

a. IEV explicitly included in bibliography
b. scripts/split_codes.rb decoded (`get_source_string()` was not returning anything, and not coping with nbsp in IEC 60050 in source.

<img width="483" alt="Στιγμιότυπο 2021-11-17, 23 56 44" src="https://user-images.githubusercontent.com/1911039/142205023-350e0d9e-81bd-4d78-995c-ee3ce1434403.png">

[2021-11-17 12:58] #116 closed

[2021-11-17 19:42] Intelligent2013 opened #121 "Broken reference between `callout` and `annotation`"
I've just generated metanorma xml for https://github.com/metanorma/mn-samples-iec/blob/main/sources/iec-rice-en.adoc and get the error:
`(XML Line 000857:79): IDREF "_71f13c67-0d14-440c-a897-abe17d505cfa" without matching ID`

In the metanorma xml - `<callout target="_71f13c67-0d14-440c-a897-abe17d505cfa`, but `<annotation id="_df9b7916-fb75-34c9-f1ac-895ecd565d72"`:
[code]

In the old generated x

[2021-11-19 05:07] ronaldtse opened #122 "Add document subtype IEV (IEC Electropedia, IEC 60050 series)"
Just like how ISO has the vocabulary document type (https://github.com/metanorma/metanorma-iso/issues/473), the IEV document is also of a different type.

Most importantly, the terminology IDs are **NOT** under Clause 3:

See: https://github.com/metanorma/mn-samples-iec-iev
<img width="706" alt="Screenshot 2021-11-19 at 12 51 57 PM" src="https://user-images.githubusercontent.com/11865/142566930-c5

[2021-11-23 10:35] opoudjis commented on #113
No, we need to recognise an IEV termbase link within the current document as such: if this is an IEV 192 document, all termbase references to IEV 192 are internal

[2021-11-23 11:47] #113 closed

[2021-11-23 12:26] #111 closed

[2021-11-27 07:03] opoudjis commented on #122
I've already made IEV documents have subtype vocabulary.

[2021-11-27 07:20] opoudjis commented on #122
As far as I can tell, I'm in conformance here.

[2021-11-27 07:20] #122 closed

[2021-12-08 14:22] #121 closed

[2021-12-31 04:56] opoudjis commented on #34
This has just been resolved: https://github.com/glossarist/iev-document/issues/22

[2021-12-31 04:56] #34 closed

[2022-01-07 12:04] Intelligent2013 opened #130 "Non-correct doctype in French"
Source issue https://github.com/glossarist/iev-document/issues/22#issuecomment-1007334898

Metanorma XML:
[code]

Original PDF:
![image](https://user-images.githubusercontent.com/5559926/148536149-8bbce996-c927-44a8-9e85-8999b3cfe6b5.png)

Generated PDF:
![image](https://user-images.githubusercontent.com/5559926/148536174-78de3388-5cb2-469d-bf35-e29ee538d57d.png)

Add `e` at the end of `Norme inte

[2022-01-11 10:56] #130 closed

[2022-10-26 06:18] ronaldtse opened #153 "PDF: Ensure correct layout of IEC Technical Report cover pages"
* https://webstore.iec.ch/preview/info_isoiectr30167%7Bed1.0%7Den.pdf
* https://cdn.standards.iteh.ai/samples/104181/d8a747bb14fb411bbf7fc6b8fbea946f/ISO-IEC-TR-63306-1-2020.pdf

[2022-10-26 16:06] Intelligent2013 commented on #153
Original PDF:
![image](https://user-images.githubusercontent.com/5559926/198075814-fa9729c4-3b38-45f7-bcd0-e09109b20de3.png)

Resulted PDF:
![image](https://user-images.githubusercontent.com/5559926/198075866-6c878ee1-8c6c-4569-96e7-9e59b53c529b.png)

- [ ] only IEC logo
- [ ] `R` sign after logo
- [ ] redundant `/` between `IEC` and `TR` (https://github.com/metanorma/metanorma-iso/issues/657)
- [

[2022-10-26 16:38] Intelligent2013 commented on #153
Original PDF:
- [ ] vertically oriented text on the cover page:
![image](https://user-images.githubusercontent.com/5559926/198082269-5d04d281-4b3b-4178-9c21-35ad4fafbbbb.png)

Original PDF:
![image](https://user-images.githubusercontent.com/5559926/198082628-e31ca857-eff3-4f0a-a90c-62c54e9f71a4.png)

Rendered PDF:
![image](https://user-images.githubusercontent.com/5559926/198082671-87fac1b7-cfe0-4

[2022-10-27 07:21] Intelligent2013 opened #154 "Update docidentifier"
Source issue: https://github.com/metanorma/metanorma-iec/issues/153#issuecomment-1292277216

- [ ] no need to put `ED x` in the `docidentifier`.

Original PDF:
![image](https://user-images.githubusercontent.com/5559926/198075814-fa9729c4-3b38-45f7-bcd0-e09109b20de3.png)

Resulted PDF:
![image](https://user-images.githubusercontent.com/5559926/198214620-27b3f75e-70da-4a52-82fa-1053164eb130.png)

Me

[2022-10-27 10:47] Intelligent2013 commented on #153
- [ ] ToC page should starts on page `2` , not `4`

Original PDF:
![image](https://user-images.githubusercontent.com/5559926/198264870-46fd25a4-51d2-41dd-8dd0-d6272406dc67.png)

Rendered PDF:
![image](https://user-images.githubusercontent.com/5559926/198264903-d5605d3b-32cb-4a98-9d9b-c82a322adfad.png)

[2022-10-27 13:29] Intelligent2013 commented on #154
- [ ] add `docidentifier` with year and month into XML (rendering on cover page, left side)

Original PDF:
![image](https://user-images.githubusercontent.com/5559926/198297856-2243ea70-5894-48e5-8c6d-f5cec7e91642.png)

[2022-10-27 13:43] Intelligent2013 commented on #154
UPDATE: if document is multi-language, then lang codes delimit by `-`.
![image](https://user-images.githubusercontent.com/5559926/198300771-cf9931e1-9216-441b-a41a-63f019456995.png)

[2022-10-27 14:03] Intelligent2013 opened #155 "Update copyright information"
Source issue: https://github.com/metanorma/metanorma-iec/issues/153#issuecomment-1292315722

Example of copyright on French:
https://www.itu.int/en/ITU-D/Technology/Documents/Events2016/CI_Training_ARB_Tunis_April16/Session8/IEC_61000-4-5_2014.pdf

Note: there is a bit difference in copyright text for IEC and ISO/IEC documents.

- IEC document:
`... If you have any questions about IEC copyright ..

[2022-10-27 15:06] Intelligent2013 commented on #155
Done in https://github.com/metanorma/metanorma-iec/pull/156.

[2022-10-27 15:06] #155 closed

[2022-10-27 15:23] Intelligent2013 commented on #153
@ronaldtse I don't figure out how to achieve this via XSLT on-fly:
- on the cover pdf, the title renders 'as is':
![image](https://user-images.githubusercontent.com/5559926/198328181-2559a60e-c43b-44ad-961c-3ea9deb1023a.png)

- before preface and main sections, the title renders in upper-cased, but except acronym `IoT`:
![image](https://user-images.githubusercontent.com/5559926/198328266-3ae5aecf-

[2022-10-27 15:25] Intelligent2013 commented on #153
We have 'CSS declarations' (https://www.metanorma.org/author/topics/document-format/text/#css-declarations). May be this solves it. I'll try it.

[2022-10-27 15:28] ronaldtse commented on #153
@Intelligent2013 I think the "roman" tag is probably most applicable, let's move that to a separate issue.

[2022-10-27 15:33] ronaldtse opened #157 "Titles with abbreviations that cannot be case-changed"
In some IEC titles they contain particular abbreviations that cannot be case-changed, "IoT".

From @intelligent2013:

On the cover pdf, the title renders 'as is':
![image](https://user-images.githubusercontent.com/5559926/198328181-2559a60e-c43b-44ad-961c-3ea9deb1023a.png)

Before preface and main sections, the title renders in upper-cased, but except acronym `IoT`:
![image](https://user-images.gi

[2022-10-29 06:29] opoudjis commented on #154
This is all relevant to pubid-iec. There is contradictory advice from IEC on identifiers, and I'm not going to change my code to deal with it: there needs to be a single source of truth about identifiers, and that is pubid-iec.

[2022-10-29 06:30] opoudjis commented on #154
Issue put on hold, pending implementation of it in pubid-iec

[2022-10-29 06:40] ronaldtse commented on #154
While two of these are bugs in pubid-iec, the problem in Metanorma is that:
1. There are multiple pubid manifestations of a document (with edition, with year no edition), these are used in various places in the rendering
2. PDF needs to select the proper pubid manifestation provided in the XML

If Metanorma XML does not provide the pubid manifestations, we cannot choose the correct identifiers in

[2022-10-29 13:50] Intelligent2013 commented on #153
All issues in IEC XSLT updated, except these:
- [ ] redundant `/` between `IEC` and `TR` (https://github.com/metanorma/metanorma-iso/issues/657)
- [ ] Edition number - `ED 1` (https://github.com/metanorma/metanorma-iec/issues/154)
- [ ] IOT instead of IoT (https://github.com/metanorma/metanorma-iec/issues/157)
- [ ] vertically oriented text on the cover page (https://github.com/metanorma/metanorma

[2022-10-30 06:19] opoudjis commented on #154
The variants still need to come from a single source of truth, and that source of truth is pubid-iec. If that gem exists, any modifications in metanorma-iec not using pubid-iec are a temporary kludge

[2022-10-31 01:40] ronaldtse commented on #154
Yes, we need to have issues resolved in pubid-iec. I don't know if metanorma-iec/relaton-iec currently utilize pubid-iec.

[2022-10-31 03:10] opoudjis commented on #154
metanorma-iec currently does not. I'm saying, I shouldn't invest the effort, if pubid-iec is coming (at a reasonable timeframe).

[2022-11-03 04:15] Intelligent2013 opened #159 "PDF: Can't add annotation."
Found in .err in  artifacts .zip https://github.com/metanorma/mn-native-pdf/actions/runs/3382770729:
[code]

Presentation xml:
[code]

[2022-11-03 04:21] Intelligent2013 commented on #159
Fixed.

[2022-11-03 04:21] #159 closed